* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
    padding: 20px;
}

.link {
    display: block;
    padding: 40px;
    height: 40px;
    width: 150px;
    text-align: center;
    background-color: lightsalmon;
    border: 5px white solid;
    flex: 1;
}

.bar {
    border: 1px solid black;
    /*background-color: lightsalmon;*/
    display: flex;
    padding: 0 100px;
}

img {
    width: 200px;
}

h1 {
    background-color: lightblue;
    font-weight: 300;
}

h2 {
    background-color: lightcoral;
    font-weight: 100;
}