* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 200px;
}

h1 {
    background-color: lightblue;
    font-weight: 300;
}

h2 {
    background-color: lightcoral;
    font-weight: 100;
}

ul li {
    background-color: lightsalmon;
}