* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
    padding: 20px;
}

.link {
    display: block;
    list-style: none;
    padding: 20px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
    border: 5px white solid;
    flex: initial;
}

.bar {
    display: flex;
    border: 1px solid black;
    justify-content: space-evenly;
    padding: 0;
    gap: 8px;
}

/*.sudado {
    margin-left: auto;
}*/

img {
    width: 200px;
}

h1 {
    background-color: lightblue;
    font-weight: 300;
}

h2 {
    background-color: lightcoral;
    font-weight: 100;
}